*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgb(0,0,0,0.1);
    height: 50px;
    align-items: center;
    display: flex;
  
}

.navthings{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    left: 20px;
}

.return{
    color: black;
    background: rgb(55,255,55);
    padding: 8px;
    border: none;
    border-radius: 10px;

}

.aicont{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}


.box{
    height: 300px;
    width: 460px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    top: 40px;
    left: 40px;
    transition: 0.6s ease;
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;
}

.box:hover{
    transform: scale(1.1);
}

.logo img{
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 60px;
    border: 5px solid #333;
    position: relative;
    top: 10px;
    left: 10px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo h2{
    position: relative;
    top: 8px;
}

ul li{
    font-size: 13px;
}

.tex{
    height: 220px;
    width: 300px;
    position: relative;
    top: 8px;
    left: 100px;

}

.vert{
    font-size: 25px;
    font-weight: 700;
    writing-mode: sideways-lr;
    position: relative;
    top: -180px;
    left: 10px;
    border-radius: 60px;
    border: 5px solid #333;
    padding: 5px;
}

.btn{
    position: relative;
    top: -125px;
    right: -370px;
    
}

.visit{
    background: rgb(55,255,55);
    border: none;
    height: 40px;
    width: 80px;
    padding: 5px;
    font-weight: 600;
    border-radius: 20px;
}